<div class="container-fluid">
  <h1 class="font-monospace">El aroma mágico</h1>
  <hr />
  <img
    src="https://cdn.shopify.com/s/files/1/0272/2873/3504/products/cafe-especial-para-ti-colores-cafe-colombiano-f_1_720x.jpg"
  />
  <hr />
  <div class="mt-2 row">
    <div class="col-8">
      <app-cafe-list></app-cafe-list>
    </div>
  </div>
</div>
<br>
<br>
<br>
<footer class="text-center">
  <div class="text-center p-3">
    Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico
  </div>
</footer>
